@import "reset.css";
@import "shared.css";
@import "main_page/sections/sections.css";
@import "main_page/sign_up_and_subscribe.css";
@import "rocket_page/sections.css";
@import "hnf/hnf.css";
@import "hnf/main.css";


html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(-100vh);
    scroll-snap-type: y mandatory;
}

/* .snap-container {
    height: 100vh;
    overflow-y:scroll;
    scroll-snap-type: y mandatory;

} */

.snap-container section, 
.snap-container footer {
    scroll-snap-align: center;

}