body {
    font-family: system-ui;
    background: #000000;
    color: white;
    text-align: center;
  }

section {
  width:100%;
  height: 100vh;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain, cover;
}

  .section_header {
    color: orange;
  }

  #solar {
    background-image: url("photos/solar.jpg");
  }

  #rocket {
    background-image: url("./photos/starlink.jpg");
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: center;
  }

  /* ddd */
  #mars
  {
	background-image: url("photos/mars.jpg");
  }

  .quote {
    padding: 10px;
    width: 30%;
    height: 17%;
    text-align:center;
    position: relative;
    left: 50%;
    top: 30%;
  }

  #mars q
  {
    display:inline-block;
    padding: 10px;
    width: 20%;
    text-align:center;
    position: relative;
    left: 19%;
    top: 20%;
  }

  #mars cite
  {
    display:inline-block;
    text-align:center;
    position: relative;
    left: 10%;
    top: 25%;
  }

  #mars .discover_button
  {
   position: relative;
   left: 65%;
   top: 30%;
  }

  /* ddd */

  .quote {
    padding: 10px;
    width: 30%;
    height: 17%;
    text-align:center;
    position: absolute;
    left: 35%;
    top: 70%;
    font-size: 170%;
    text-align: right;
  }


  #space_hub {
    border: 2px solid #FFFFFF;
    padding: 10px; 
    width: 30%;
    height: 17%;
    text-align:center;
    position: absolute;
    left: 35%;
    top: 35%;
    font-size: 600%;
  }

  .discover_button {
    border-radius: 25px;
    border: 2px solid #FFFFFF;
    padding: 5px; 
    width: 80px;
    height: 20px;  
    transition: 0.3s;
    background: black;
  }
  .discover_button:hover {
    background: orange;
  }
  
  
  .main_page {
    background-image: url("https://i.gifer.com/OEcM.gif");
    align-items: center;
  }

  .quote {
    padding: 10px; 
    width: 30%;
    height: 17%;
    text-align:center;
    position: absolute;
    left: 35%;
    top: 70%;
    font-size: 170%;
    text-align: right;
  }
  .start_journey {
    border-radius: 25px;
    /* border: 2px solid #FFFFFF; */
    padding: 5px; 
    width: 20%;
    transition: 0.3s;
    position: absolute;
    top: 95%;
    left: 40%;
    font-size: 130%;
  }

  .start_journey:hover {
    background: orange;
  }

#stellar {
  background-image: url("https://www.wallpapertip.com/wmimgs/18-187237_data-src-black-hole-wallpaper-4k.jpg");
}

#telescopes {
  background-image: url("photos/hubble.jpeg");

}
#telescopes-explore {
  text-align: left;
}

#stellar-explore {
  text-align: left;
}

img[src="photos/hub.jpg"] {
  position: absolute;
  left: 10%;
  width: 7%;
}


/* solar system section */

#solar h1 {
    padding: 10px;
    width: 30%;
    height: 17%;
    text-align:center;
    position: relative;
    left: 65%;
    top: 50%;
}
#solar q {
  display:inline-block;
  padding: 10px;
  width: 20%;
  text-align:center;
  position: relative;
  left: 33%;
  top: 40%;
}
#solar cite {
  display:inline-block;
  text-align:center;
  position: relative;
  left: 28%;
  top: 40%;
}
#solar .discover_button {
  position: relative;
  left: 78%;
  top: 50%;
}


/* Sign up section */

h3.section-title {
  font-weight: normal;
  font-size: 28px;
  color: #fff;
  text-align: center;
  line-height: 32px;
  max-width: 970px;
  margin: 10% auto 16px;
}


.sign-up-btn {
  width: 240px;
  max-width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background-color: transparent;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding: 0 16px;
  margin: 0;
  border: none;
  outline: none;
  user-select: none;
  transition-duration: 0.3s;
  vertical-align: top;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  cursor: pointer;
}

.sign-up-btn.large {
  font-size: 16px;
  height: 64px;
  line-height: 64px;
  border-radius: 8px;
}

.sign-up-btn.gradient {
  color: #e6e9ec;
  background: linear-gradient(70deg,  #e67e22 0%,  #e67e22 100%,  #f0b27a 0%);
      background-position-x: 0%;
      background-position-y: 0%;
      background-size: auto;
  background-size: 162% auto;
  background-position: 99%;
}


/* Subscribe section */
.subscribe-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.email-input {
  padding: 12px 27px 8px 3px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}


/* footer css */

.site-footer
{
  background-color:#000000;
  padding:20px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  align-items: flex-start;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.heading
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
  transition: 0.3s;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373;
  transition: 0.3s;
}
.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:center
}
.site-footer .social-icons a
{
  width:50px;
  height:50px;
  line-height:50px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons i{
  margin-top: 10px;
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.telegram:hover
{
  background-color:#052364
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
