#sign-up .container
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 99vw;
    height: 40vh;
    overflow: hidden;
    grid-gap: 1rem;
}

#sign-up .section-text
{
    --sct_c_begin: 4;
    --sct_c_end: 10;

    --sct_r_begin: 2;
    --sct_r_end: 2;

    text-align: center;
}

#sign-up p
{
    font-size: 1.2rem;
    margin-top: 1rem;
}


#sign-up .discover-button
{
    --btn_c_begin: 6;
    --btn_c_end: 8;

    --btn_r_begin: 6;
    --btn_r_end: 6;

    align-self: center;
    justify-self: center;

    margin-top: -14%;

    text-decoration: none;
    color: #FFFF;
}


.sign-up-button
{
    font-size: 1vw;
    border-radius: 25px;
    text-align: center;
    background: #1b1b1b50;
    color: white;

    padding: 1.5vw;

}

.sign-up-button:hover
{
    background: #1b1b1b90;
}
