.fl
{
    font-size: 12vw;
    grid-column: 1/5;
    grid-row: 3/6;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.sl
{
    font-size: 9vw;
    grid-column: 4/12;
    grid-row: 7/10;
}

.fl, .sl
{
    font-family: 'Kanit-Bold', sans-serif;
    color: var(--l_orange);
    overflow: hidden;
}

#mars-main
{
    background-image: url("../../img/m6.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}


#mars-precondition
{
    background-image: url("../../img/mplant.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}


#mars-progress
{
    background-image: url("../../img/m4.jpg");
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
}


#mars-spaceX
{
    background-image: url("../../img/m3.png");
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
}