#rocket-theme
{
    background: url("../../img/rocket.jpg");
    background-size: cover;
}


#rocket-theme .discover-button
{
    --btn_c_begin: 5;
    --btn_c_end: 7;

    --btn_r_begin: 3;
    --btn_r_end: 3;
}


#rocket-theme .section-text
{
    --sct_c_begin: 5;
    --sct_c_end: 7;

    --sct_r_begin: 2;
    --sct_r_end: 2;
}