#solar-theme
{
    background: url("../../img/solar.jpg");
    background-size: cover;
}


#solar-theme .discover-button
{
    --btn_c_begin: 4;
    --btn_c_end: 6;

    --btn_r_begin: 2;
    --btn_r_end: 2;
}


#solar-theme .section-text
{
    --sct_c_begin: 4;
    --sct_c_end: 6;

    --sct_r_begin: 1;
    --sct_r_end: 1;
}