header
{
    top: 0;
    background: var(--l_gray);
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    width: 100vw;
    height: 5vh;
    grid-gap: 1rem;
    position: fixed;
}


header nav
{
    top: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    align-content: space-between;
    text-align: center;
    box-sizing: border-box;
}


header nav a
{

    box-sizing: inherit;
    background: var(--ld_gray);
    height: 4vh;
    width: auto;
    text-align: center;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--l_orange);
    margin-top: 0.3rem;
    padding: 0.5vh;


}


header img
{
    height: 5vh;;
    width: auto;
}

header h1
{
    text-align: center;
    background:black;
}

header nav
{
    grid-column: 2/3;
}
