#rocket-theme
{
    background-image: url("../../../img/starchip-min-page.webp");
    background-size: cover;
}


#rocket-theme .discover-button
{
    --btn_c_begin: 2;
    --btn_c_end: 4;

    --btn_r_begin: 3;
    --btn_r_end: 3;

    text-decoration: none;
    color: white;
}


#rocket-theme .section-text
{
    --sct_c_begin: 2;
    --sct_c_end: 5;

    --sct_r_begin: 2;
    --sct_r_end: 2;
}