#satellites-theme
{
    background: url("../../../img/main_page_imgs/satellites.jpeg");
    background-repeat:no-repeat;
    background-position: left;
    background-size: contain;
    background-color: black;
}


#satellites-theme .discover-button
{
    --btn_c_begin: 8;
    --btn_c_end: 11;

    --btn_r_begin: 4;
    --btn_r_end: 4;
}


#satellites-theme .section-text
{
    --sct_c_begin: 8;
    --sct_c_end: 11;

    --sct_r_begin: 3;
    --sct_r_end: 3;
}

#satellites-theme ul {
    list-style-position: outside;
    margin: 3vh 0;
}

#satellites-theme ul li {
    margin: 2.3vh 0;
}

#satellites-theme ul li::before {
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-size: 3rem;
    background-image: url("../../../img/list/right_arrow_white.png");
    background-repeat: no-repeat;
    margin-right: 0.625rem;
    background-position: center center;
    vertical-align: middle;
}