#solar-theme
{
    background: url("../../../img/main_page_imgs/solar.jpg");
    background-size: cover;
}


#solar-theme .discover-button
{
    --btn_c_begin: 8;
    --btn_c_end: 11;

    --btn_r_begin: 3;
    --btn_r_end: 3;
}


#solar-theme .section-text
{
    --sct_c_begin: 8;
    --sct_c_end: 11;

    --sct_r_begin: 2;
    --sct_r_end: 2;
}