#stellar-theme
{
    background: url("../../../img/stellar.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#stellar-theme .discover-button
{
    --btn_c_begin: 2;
    --btn_c_end: 4;

    --btn_r_begin: 3;
    --btn_r_end: 3;
}


#stellar-theme .section-text
{
    --sct_c_begin: 2;
    --sct_c_end: 4;

    --sct_r_begin: 2;
    --sct_r_end: 2;
}

#stellar-theme ul {
    list-style-position: outside;
    margin: 3vh 0;
}

#stellar-theme ul li {
    margin: 2.3vh 0;
}

#stellar-theme ul li::before {   
    content: '';   
    display: inline-block;   
    height: 1rem;   
    width: 1rem;    
    background-size: 40px;   
    background-image: url("../../../img/list/right_arrow_white.png");
    background-repeat: no-repeat;   
    margin-right: 0.625rem;
    background-position: center center;
    vertical-align: middle;
}